@model List<Bing>

@{
    ViewData["Title"] = "Bing Image of the Day";
}

<h1><img src="~/images/Microsoft_Bing_logo.svg" height="42px" style="margin-right: 10px;" />Image of the Day</h1>

@foreach (Bing item in Model) {
    <h2>@item.Title</h2>
    <div class="wallpaper-container">
        <div class="wallpaper-wrapper">
            <a href="@item.Url" target="_blank"><img src="@item.Url" alt="Bing Image" height="400px"></a>
        </div>
        <div class="overlay-text"><a href="@item.Url" target="_blank" style="color: inherit; text-decoration: inherit;">Download <img src="~/images/open_link.svg" height="15px" style="vertical-align:middle;"></a></div>
    </div>
    <h3>@item.Date</h3>
    <p>Copyright: @item.Copyright</p>
}